*{
    margin: 0;
    font-family: "Work Sans", sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
}
body div{
    display: flex;
}
.backgroundContainer{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
}
#backgroundIMG{
    height: 100%;
    width: 100%;
    filter: brightness(80%);
}
.left{
    position: relative;
    z-index: 10;
    height: 100%;
    width: 67%;
    flex-direction: column;
    justify-content: space-between;
}
.titleholder{
    width: 100%;
    height: 13vh;
    align-items: end;
    padding-left: 40px;
    gap: 1%;
}
.titleholder h1{
    display: inline;
    color: white;
    font-weight: 500;
    font-size: 1.4em;
}
.titleholder img{
    height: 43px;
    width: auto;
}
.information-container{
    height: 25vh;
    justify-content: space-between;
}
.location-container{
    height: 94%;      
    width: 40%;
    padding-top: 5px;
    align-items: center;
    justify-content: end;
}
.location-container h1{
    color: white;
    font-size: 2.9em;
    text-align: right;
}
.manythings-container{
    justify-content: end;
    height: 100%;
    width: 46%;
}
.icon-container{
    height: 100%;
    width: 49%;
    align-items: center;
}

.icon-container img{
    filter: invert(1);
    height: 4.2vh;
    width: auto;
}
.temperature-container{
    align-items: center;
}
#temperatureData{
    color: white;
    font-size: 10em; 
    font-weight: 200;
}
.timeandlocation-container{
    height: 100%;
    width: 65%;
    color:  white;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    padding-right: 4%;
    align-items: end;
}
#timezone{
    font-weight: 300;
    font-size: 1.3em;
    text-align: end;
}
#condition{
    font-weight: 400;
    font-size: 2.5em;
    text-align: right;
}
#feelsLike{
    margin-top: 15px;
}

.right{
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.276);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 33%;
    flex-direction: column;
}
.searchbar-container{
    width: 100%;
    height: 20vh;
    align-items: end;
    justify-content: center;
    gap: 3%;
}
.searchbar-container label{
    color: white;
    font-size: 2.6em;
    letter-spacing: 2px;
}
#inputLocation{
    color: white;
    padding-left: 10px;
    font-size: 2.6em;
    background: none;
    border: none;
    border-bottom: 3px solid white;
    width: 57%;
}
#inputLocation::placeholder{
    color: rgba(255, 255, 255, 0.628);
}
#inputLocation:focus{
    outline: none;
}

.presetLocations{
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 5%;
    align-items: center;
}
.presetLocations a{
    display: inline;
    padding-left: 3%;
    width: 97%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.643);
    font-size: 2.6em;
    padding-top: 5%;
    padding-bottom: 5%;
    cursor: pointer;
}
.presetLocations a:hover{
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}