*{
    margin: 0;
    opacity: 1;
    transition: opacity 0.3s ease, blur 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease, blur 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease, blur 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease, blur 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease, blur 0.3s ease-in-out;
    font-family: "Work Sans", sans-serif;
    filter: blur(0px);
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
}
body div{
    display: flex;
}
.backgroundContainer{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
}
#backgroundIMG{
    height: 100%;
    width: 100%;
    filter: brightness(80%);
}
.left{
    position: relative;
    z-index: 10;
    height: 100%;
    width: 67%;
    flex-direction: column;
    justify-content: space-between;
}
.titleholder{
    width: 100%;
    height: 13vh;
    align-items: end;
    padding-left: 40px;
    gap: 1%;
}
.titleholder h1{
    display: inline;
    color: white;
    font-weight: 500;
    font-size: 1.4em;
}
.titleholder img{
    height: 43px;
    width: auto;
}
.information-container{
    height: 25vh;
    justify-content: space-between;
}
.location-container{
    height: 94%;      
    width: 40%;
    padding-top: 5px;
    align-items: center;
    justify-content: end;
}
.location-container h1{
    color: white;
    font-size: 2.9em;
    text-align: right;
}
.manythings-container{
    justify-content: end;
    height: 100%;
    width: 46%;
}
.icon-container{
    height: 100%;
    width: 49%;
    align-items: center;
}

.icon-container img{
    filter: invert(1);
    height: 4.2vh;
    width: auto;
}
.temperature-container{
    align-items: center;
}
#temperatureData{
    color: white;
    font-size: 10em; 
    font-weight: 200;
}
.timeandlocation-container{
    height: 100%;
    width: 65%;
    color:  white;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    padding-right: 4%;
    align-items: end;
}
#timezone{
    font-weight: 300;
    font-size: 1.3em;
    text-align: end;
}
#condition{
    font-weight: 400;
    font-size: 2.5em;
    text-align: right;
}
#feelsLike{
    margin-top: 15px;
}

.right{
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.276);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 33%;
    flex-direction: column;
    align-items: center;
}
.searchbar-container{
    width: 100%;
    height: 20vh;
    align-items: end;
    justify-content: center;
    gap: 3%;
}
.searchbar-container label{
    color: white;
    font-size: 2.6em;
    letter-spacing: 2px;
}
#inputLocation{
    color: white;
    padding-left: 10px;
    font-size: 2.6em;
    background: none;
    border: none;
    border-bottom: 3px solid white;
    width: 57%;
}
#inputLocation::placeholder{
    color: rgba(255, 255, 255, 0.628);
}
#inputLocation:focus{
    outline: none;
}
.error-container{
    justify-content: center;
    align-items: center;
    height: 4vh;
}
.error-container h1{
    opacity: 0;
    color: rgb(221, 40, 40);
    font-weight: 300;
}
.presetLocations{
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}
.presetLocations a{
    display: inline;
    padding-left: 3%;
    width: 97%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.643);
    font-size: 2.6em;
    padding-top: 5%;
    padding-bottom: 5%;
    cursor: pointer;
}
.presetLocations a:hover{
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

.additional-information{
    border-top: 4px solid white;
    width: 90%;
    padding-top: 8%;
    height: 30vh;
    align-items: end;
    justify-content: center;
}
.next-day-container{
    flex-direction: column;
    width: 41%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
#next-day-conditionIcon{
    width: 67%;
    height: auto;
    filter: invert(1);
}
#next-day-temp{
    color: white;
    font-weight: 400;
    font-size: 1.9em;
}
#next-day-condition{
    font-weight: 300;
    font-size: 3em;
    color: white;
}
.next-day-container small{
    color: white;
    font-size: 1em;
}

.wind-and-lunar-container{
    width: 59%;
    height: 100%;
    flex-direction: column;
}
.wind-container{
    width: 100%;
    height: 50%;
    align-items: center;
    gap: 4px;
    justify-content: center;
    border-bottom: 4px solid white;
}
#wind-icon{
    height: 63%;
    width: auto;
    filter: invert(1);
}
#wind-speed{
    color: white;
    font-weight: 300;
    font-size: 3.5em;
    margin-right: 13px;
    margin-left: 9px;
}
#wind-direction{
    color: white;
    font-size: 1em;
}
.lunar-container{
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#moon-icon{
    height: 46%;
    width: auto;
    filter: invert(1);
}
#moon-condition{
    font-weight: 400;
    color: white;
    text-align: end;
}


#errorMessage.fade{
    opacity: 1;
}
#locationData.fade,
#temperatureData.fade,
#timezone.fade,
#condition.fade,
#feelsLike.fade,
#weatherIcon.fade{
    opacity: 0;
    filter: blur(3px);
}
